/* Testing Ground */

.object-container {
  width: 90%;
  height: 90%;
  display: flex;
  margin: auto;
}

.rounded-container {
  display: flex;
  margin: auto;
  width: 50vw;
  height: 70vh;
  background-color: var(--foreground);
  border-radius: 2rem;
  border: var(--border) 0.1rem solid;
}

.profile-background-container {
  position: absolute;
  margin: auto;
  width: 100vw;
  z-index: -1;
  opacity: 0.5;
}

spline-viewer {
  width: 100vw;
  display: flex;
  margin: auto;
}